<div>
    This is a test app for the ng-debug-tools lib function logComponentSignal:
    <ul>
        <li>Current Input Signal Value: {{inputSignal()}} </li>
        <li>Current Model Signal Value: {{modelSignal()}} <button (click)="setRandomTestSignalValue(modelSignal)">Set Random Value</button></li>
        <li>Current Test Signal One Value: {{testSignalOne()}} <button (click)="setRandomTestSignalValue(testSignalOne)">Set Random Value</button></li>
        <li>Current Test Signal Two Value: {{testSignalTwo()}} <button (click)="setRandomTestSignalValue(testSignalTwo)">Set Random Value</button></li>
    </ul>
</div>
